<form method="post" action="{{ path('adjust_stocks_delete', {'id': adjust_stock.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ adjust_stock.id) }}">
    <button class="btn">Delete</button>
</form>
