<form method="post" action="{{ path('command_provider_delete', {'id': command_provider.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ command_provider.id) }}">
    <button class="btn">Delete</button>
</form>
