{% block body %}
	<h1>Liste des Articles</h1>
	<p>
	{% for totalprice in totalprices %}
	   {{ totalprice|number_format  }} %<br>
	{% endfor %}
	
	</p>
	<!-- <ul>
		{% for article in articles %}
		    <li>{{ article.title }}</li>
		    <li>{{ article.price }} - {{ article.createdAt | date('Y-m') }}</li>
		    <hr/>
		{% endfor %}
	</ul> -->

{% endblock %}
